# Configfile example conifiguration

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL, INFO
    LOGLEVEL = DEBUG
    LOGFILE = ./sml2mqtt.log
    LOGMODE= SYSLOG
   # LOGMODE = LOGFILE
   # LOGMODE = PRINT
    NAME = SML2MQTT
    LOGSERVER= 192.168.2.20

[BROKER]
  HOST= 192.168.2.20
  PORT= 1883
  PUBLISH= SMARTHOME/DE/IN/SML01/STATUS


[SML]
   SERIAL=/dev/ttyUSB0

